* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*----------------------------- nav section -----------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(193, 85%, 95%);
  /* border: 1px solid red; */
  padding: 0px 20px;
}
nav .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid red; */
}
nav .nav-clg-name{
  display: none;
}
nav .nav-li ul {
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: 500;
}
nav .nav-li ul a{
    text-decoration: none;
    color: black;
}
nav .nav-li ul a:hover{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 3px 2px 4px rgba(66, 99, 189, 1);
}
/*---- nav button code login and register ---*/
.nav-btn .btn {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 15px;
}
.nav-btn #login-btn{
    background-color: #00BFA6;
 padding: 6px 15px;
 color: #fff;
 cursor: pointer;
 border-radius: 10px;
 border: 1px dashed #00BFA6;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: .4s;
}
#login-btn:hover{
    transition: .4s;
 border: 1px dashed #00BFA6;
 background-color: #fff;
 color: #00BFA6;
}
.nav-btn #register-btn{
    background-color: #f57f6b;
 padding: 6px 15px;
 color: #fff;
 /* text-transform: uppercase; */
 /* letter-spacing: 2px; */
 cursor: pointer;
 border-radius: 10px;
 border: 1px dashed #f57f6b;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: .4s;
}
#register-btn:hover{
    transition: .4s;
 border: 1px dashed #f57f6b;
 background-color: #fff;
 color: #f57f6b;
}
/*------------------- Nav menu button -----------------*/
nav .menu-btn{
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/*-------------------- Side Navbar ----------------*/
.side-nav {
  width: 50%;
  height: 100vh;
  display: none;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: start;
  background: hsl(193, 85%, 95%);
  /* border: 1px solid red; */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.side-nav .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid red; */
}
.side-nav .nav-li ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
  font-weight: 500;
  margin-top: 40px;
}
.side-nav .nav-li ul a{
  text-decoration: none;
  color: black;
}
.side-nav .nav-li ul a:hover{
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 3px 2px 4px rgba(66, 99, 189, 1);
}
.side-nav .nav-btn{
  margin-top: 60px;
}

/*------------------- Nav close button -----------------*/
.side-nav .close-btn{
  display: flex;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
}

/*---------------------- Popup Login Box --------------------*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}
.popup-content h2{
  text-align: center;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}

.popup-content form label {
  margin-top: 10px;
}

.popup-content form input, form select {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-content form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #00BFA6;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
  cursor: pointer;
}


/*--------------------- Home Section ------------------*/
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 0px 20px;

}
.home .box{
  width: 48%;
  height: 90vh;
  /* border: 1px dotted black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home .desc{
  display: flex;
  flex-direction: column;
}
.home h2 span{
  color: #00BFA6;
  text-shadow: 3px 2px 4px rgba(150, 88, 145, 0.377);
}
.home .home-para{
  margin-top: 20px;
}
.home .home-btn{
  margin-top: 40px;
}
.home .home-img img{
  width: 70%;
  height: 70%;
}
